@page
@model GradeApp.Pages.Index
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>GradeApp</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
<div style="margin-top: 50px; height: max-content; display: flex; flex-direction: column; justify-content: center; align-items: center">
    <h1 style="text-align: center">GradeApp</h1>
    <button class="btn btn-primary" style="margin: 100px 10px 10px 10px">
        <a asp-page="ResultsInput" style="text-decoration: none; color: white">Add grade</a>
    </button>
    <button class="btn btn-primary" style="margin: 10px 10px 10px 10px">
        <a asp-page="ListGrades" style="text-decoration: none; color: white">Table of grades</a>
    </button>
</div>
</body>
</html>